/* $Id: style.css,v 1.1.2.9 2009/05/22 08:46:11 jmburnz Exp $ */

/**
 * @file style.css
 *
 * Use this file to override the Genesis core modular styles 
 * (such as the HTML elements in typography.css), module CSS 
 * and other Drupal styles. Anything that doesn't fit logically
 * into page.css, nodes.css, blocks.css or comments.css can go here.
 */

/**********************************************************
 *                    Body
 **********************************************************/
body {
  font-family: Verdana, Geneva, "DejaVu Sans", sans-serif;
	padding: 0;
	margin: 0;
}


/**********************************************************
 *                 HTML Elements
 **********************************************************/

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p {}

strong {}
em, dfn {}
dfn {}

sup, sub {}

del {}
ins {}

blockquote {}
cite {}
q {}

address {}

ul {}
ol {}
li {}

dl {}
dd {}
dt {}


abbr {}
acronym {}

pre, code, tt {}
p code {}
samp {}
kbd {}
var {}


/**********************************************************
 *                 Global Link Styles
 **********************************************************/
a {
  margin: 0; 
  padding: 0;
}

a:link    {}
a:visited {}
a:hover   {}
a:active  {}
a.active  {}

/* Set global a:active and a:focus styles. */
a:active,
a:focus {
  color: #C00000;
  border: 0;
}

/* Drupal sets this to black. */
li a.active {}

/* Remove borders on linked images. */
a img {
  border: none;
}


/**********************************************************
 *                 Accessibility Classes
 **********************************************************/

/* Hide content without positioning issues. */
.invisible {
  height: 0;
  overflow: hidden;
}

/* Move content off screen where appropriate. */
.offscreen {
  position: absolute;
  left: -999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Completely remove content for all users.
   DO NOT use this for Skip links, display:none 
   hides content from screen readers! */
.remove {
  display: none;
}


/**********************************************************
 *                 Custom Styles
 **********************************************************/
/**
 * Here you can add custom stles for your theme that do not fit
 * into one if the modular stylesheets (such as the nodes, blocks,
 * page and comments stylesheets).
 */
#top-bg, #front-sub-bg {
	background: url("../images/sub-bg.png") repeat-x scroll 0px 0px transparent;
	height:300px;
	width:100%;
	position:absolute;
}
#front-sub-bg {
	top: 295px;
}

#block-mbuild-mbuild_create_site {
	position: absolute;
	top: -90px;
	right: 60px;
	width: 325px;
	background: url("../images/1x1-black.png") repeat scroll 0px 0px transparent;
}
#block-mbuild-mbuild_create_site .block-inner {
	background-color:#FFFFFF;
	margin:10px;
	padding:10px 10px 15px;
}
#block-mbuild-mbuild_create_site h2 {
	font-size: 2em;
}

.oneclick-line {
	height: 7px;
	width: 100%;
	background:url("../images/line.png") repeat-x scroll 0px 0px transparent;
}
.oneclick-first-step,
.oneclick-second-step,
.oneclick-second-third {
	margin-top: 15px;
	width: 100%;
}
.oneclick-first-step {
	height: 51px;
	margin-bottom: 20px;
	background:url("../images/step-1.png") no-repeat scroll 2px -49px transparent;
}
.oneclick-second-step {
	height: 59px;
	background:url("../images/step-2.jpg") no-repeat scroll 0px 0px transparent;
}
.oneclick-third-step {
	height: 59px;
	background:url("../images/step-3.png") no-repeat scroll 0px 0px transparent;
}

#oneclick-add-site-form .suffix-domain {
	top: 15px;
	font-size: 1.3em;
	position: absolute;
	right: 560px;
}
#mbuild-login-form {
	margin: 0;
}
#block-mbuild-mbuild_create_site #oneclick-add-site-form .suffix-domain {
	right: 11px;
}
#edit-address-wrapper {
	width: 430px;
  border:1px solid #CCCCCC;
	background-color:#EBEBEB;
}
#block-mbuild-mbuild_create_site #edit-address-wrapper {
	width: auto;
}
#edit-address-wrapper.focus {
	background: none repeat scroll 0 0 #FFFFDF;
	border: 1px solid #FFCC00;
}
#edit-address-wrapper label,
#edit-category-wrapper label {
	display: none;
}
#edit-address-wrapper input {
	width: 300px;
	height: 40px;
	margin: 0px;
	border: 0px none !important;
	background:none repeat scroll 0 0 transparent;
	font-size: 1.3em;
	color: #F55A86;
	padding-top: 7px;
	padding-left: 2px;
}
#block-mbuild-mbuild_create_site #edit-address-wrapper input {
	width: 155px;
}

#edit-category-wrapper {
	margin-bottom: 25px;
}
#edit-category-wrapper select {
	height: 40px;
	background-color:#EBEBEB;
	font-size: 1.3em;
}

#oneclick-add-site-form .form-submit, .form-submit {
	background: url("../images/button-next.png") no-repeat scroll center bottom transparent;
	width: 166px;
	height: 42px;
	border: medium none;
	cursor: pointer;
	text-indent: -20000px;
}

#block-node_weight-banner {
	margin: 20px 0 20px 0;
}



/* step 2 */

#second-from-wrapper {
	border: 1px solid #E56095;
	border-top: none;
	overflow: hidden;
	padding: 30px 20px 20px 20px;
}

#select-theme-wrapper {
}

#select-theme-wrapper > .form-item > label {
	font-size: 2.3em;
	color: #C9325B;
}
#user-register {
	float:left;
	width:540px;
}
#user-login {
	clear:none;
	float:left;
	margin-left:20px;
	width:280px;
}

